.light-theme {
    --base-color: #f3f3f3;
    --second-color: #e7e7e7;
    --third-color: #d2d2d2;
    --font-color: #172d50;
    --accent-color: #f89730;
}

.dark-theme {
    --base-color: #2f2f2f;
    --second-color: #252525;
    --third-color: #1a1a1a;
    --font-color: #dcdcdc;
    --accent-color: #e0810f;
}
