.flex {
    --direction: row;
    --justify-content: space-between;
    --align-items: center;
    display: flex;
    flex-flow: var(--direction) nowrap;
    justify-content: var(--justify-content);
    align-items: var(--align-items);
    align-content: space-evenly;
}

.flex-v {
    --direction: column;
}

.flex-wr {
    flex-flow: var(--direction) wrap;
}

.flex-align-str {
    --align-items: stretch;
}

.flex-sp-a {
    --justify-content: space-around;
}

.flex-center {
    --justify-content: center;
}

.flex-start {
    --justify-content: flex-start;
}

.flex-end {
    --justify-content: flex-end;
}

.container-p-in {
    padding-inline: 10rem;
}

.container-p-bl {
    padding-block: 1rem;
}