.header {
    padding-block: 1rem;
    background-color: var(--base-color);
}

.header__title_logo {
    height: auto;
    width: 2rem;
}

.header__title_text {
    margin-left: 1rem;
    font-size: 1.2rem;
}

.toggle-theme__button {
    --width: 3rem;
    appearance: none;
    position: relative;
    vertical-align: top;
    margin: 0;
    margin-left: 0.5rem;
    width: var(--width);
    height: calc(var(--width) / 2);
    background: var(--second-color);
    border-radius: 1rem;
    outline: none;
    cursor: pointer;
}
.toggle-theme__button::after {
    --margin: 0.4rem;
    --diameter: calc(var(--width) / 2 - var(--margin));
    content: "";
    position: absolute;
    left: calc(var(--margin) / 2);
    top: calc(var(--margin) / 2);
    width: var(--diameter);
    height: var(--diameter);
    background-color: var(--accent-color);
    border-radius: 50%;
    transform: translateX(0);
}

.toggle-theme__button:checked::after {
    transform: translateX(calc(var(--width) / 2));
    background-color: var(--base-color);
}

.toggle-theme__button:checked {
    background-color: var(--accent-color);
}