.header {
    padding-block: 1rem;
    background-color: var(--base-color);
}

.header__title_logo {
    height: auto;
    width: 2rem;
}

.header__title_text {
    margin-left: 1rem;
    font-size: 1.2rem;
}